<!DOCTYPE html>
<html>
<head>
	<title>{{ que }}</title>
</head>
<body>
	<h1>{{ que }}</h1>
	{% if error_message %}<p><strong>{{ error_message }}</strong></p>{% endif %}
	<form action="{% url 'polls:vote' que.id %}" method="POST">
		{% csrf_token %}
		{% for choice in que.choice_set.all %}
			<!-- <label>{{ choice.choice_text }}<input type="radio" name="choice" id="choice{{ forloop.counter }}" value="{{ choice.id }}"></label><br> -->
			<input type="radio" name="choice" id="choice{{ forloop.counter }}" value="{{ choice.id }}">
    		<label for="choice{{ forloop.counter }}">{{ choice.choice_text }}</label><br>
		{% endfor %}
	<input type="submit" value="vote">
	</form>
</body>
</html>